* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: #121619;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    overflow: hidden;
}

.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
}

.signin, .signup{
    color: white;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(48, 30, 30, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.5);
    padding: 3rem 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    animation: animateform 5s ease forwards; 
}

.container h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.container form input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 1.2rem;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}

.container form input::placeholder{
    color: white;
}

.container form input[type="submit"]{
    background: #05386b;
    transition: all 300ms ease;
    cursor: pointer;
}

.container form input[type="submit"]:hover{
    opacity: 0.8;
}

.container form small{
    display: block;
    margin-top: 1rem;
    opacity: 0.65;
}

.container form small label{
    color: red;
    cursor: pointer;
}

/* sign up*/
.signup{
    display: none;
}

#trans:checked ~ .signin{
    display: none;
}

#trans:checked ~ .signup{
    display: block;
}

#trans{
    appearance: none;
}

@keyframes animateform {
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}