@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 20px;
    position: relative;
}

.wrapper{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 360px;
    max-width: 100%;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
}

.section input, .section textarea{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: 0;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 1.4px
}

.section textarea {
    min-height: 130px;
}

input::placeholder {
  font-family: 'Nunito', sans-serif;
  vertical-align: center;
}

.section input[type="submit"]:hover {
  background-color: #0097e6;
  color: #eee;
}

.section input[type="submit"] {
  cursor: pointer;
  background-color: #eee;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  line-height: 1.2;
}

/* responsive */

@media screen and (max-width: 400px) {
    .wrapper {
      margin-top: 0;
    }

    .section input, 
    .section textarea{
      font-size: 8px;
    }

  }  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }