@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");
*{
  font-family: 'Nunito', sans-serif;
}

/* Custom Select wrapper */

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
    
  }

.select {
    position: relative;
    display: flex;
    
    width: 12em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    
  }

  .second{
    width: 9em;
    height: 3em;
      
  }

  .first{
    width: 12em;
    height: 3em;

  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #0097e6;;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #ffffff;;
  }

  .mobile_chain .select option{
      color: #34495e;
  }
  
