.user_name{
    font-family: 'Jaldi', sans-serif;
    font-weight: bold;
}

.user_mail{
    font-family: 'Jaldi', sans-serif;
}
.link {
    font-family: 'Jaldi', sans-serif;
    font-weight: 500;
    
}