<!DOCTYPE html>
<html style="font-size: 62.5%;font-family: 'Nunito', sans-serif;">
<head>
<link rel='stylesheet prefetch' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@700;800&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
<link href="./dist/output.css" rel="stylesheet">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://kit.fontawesome.com/1db09dea83.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap" rel="stylesheet">
<meta charset="utf-8">
<title></title>
</head>
<body class="bg-black space-y-8">

	<section class="w-full sm:mt-4 mt-8 mob:mt-0">
	    <div class="aftab:w-80%  md:w-90% w-88%  aftab:px-0 m-auto grid ml:grid-cols-0 py-20  aftab:py-10 mt:py-8vw sm:py-10  mt:space-y-8vw mob:w-90vw">
		 <div  class=" mt:w-full py-4vw mt:py-0 mt:px-0 aftab:py-8 sm:px-6 sm:w-full md:py-3vw md:px-0">
          <h1 style="font-family: Sora, sans-serif;" class="mb-8 md:mb-1vw mob:mb-6 md:text-3vw md:py-2 md:px-0  mob:text-center text-white  md:text-5xl text-3vw sm:text-5xl aftab:text-5xl aftab:text-center sm:text-center mt:text-6.2vw mt:mx-auto" >Discover, collect, and sell<br> extraordinary NFTs</h1>
          <h2 class="text-white text-2.7rem text-slate-300 mt:text-5vw mob:text-center sm:text-4xl aftab:text-4xl aftab:text-center sm:text-center md:text-2vw md:mb-0 mb-18 mob:mb-14 exlar:text-2vw exlar:mb-3vw" style="font-family: 'Dancing Script'">Welcome to JinxArt the world's first<br> and largest NFT marketplace</h2>

          <div class="flex flex-wrap space-x-10 mt:m-auto aftab:m-auto md:m-0 w-fit md:space-x-3vw  md:mt-2vw">
           <a href="#" class="text-3xl bg-bleu text-white font-bold text-center py-6 px-24 sm:px-28 rounded-special items-center justify-center mt:py-3vw  mt:px-10vw md:px-14 exlar:px-40 exlar:text-7xl exlar:py-14 py-6">Explore</a> 
           <a href="#" class="text-3xl bg-white text-black font-bold text-center py-6 px-24 sm:px-28 rounded-special items-center justify-center mt:py-3vw  mt:px-10vw md:px-14 exlar:px-40 exlar:text-7xl exlar:py-14 py-6">Create</a> 
		  </div>
		 </div>

      <!-- slider-->
		 <div class="aftab:w-80% aftab:m-auto">
          <div class="content relative md:w-full  overflow-hidden rounded-2xl mob:w-full sm:w-full">
           <i data-action="left" class='btn-chevron left left-4 bx bx-chevron-left bg-bleu rounded-100% transition-all duration-0.5 top-1/2 cursor-pointer text-2xl p-2 absolute text-white z-900'></i>
           <div class="slider flex flex-row items-center transition-all duration-700">
            <img data-info="Image Description 1" class="slider-image opacity-100 object-cover transition duration-10000 " src="https://www.cssscript.com/demo/dummy/1.jpg">
            <img data-info="Image Description 2" class="slider-image opacity-100 object-cover transition duration-10000 " src="https://www.cssscript.com/demo/dummy/2.jpg">
            <img data-info="Image Description 3" class="slider-image opacity-100 object-cover transition duration-10000 " src="https://www.cssscript.com/demo/dummy/3.jpg">
            <img data-info="Image Description 4" class="slider-image opacity-100 object-cover transition duration-10000 " src="https://www.cssscript.com/demo/dummy/1.jpg">
            <img data-info="Image Description 5" class="slider-image opacity-100 object-cover transition duration-10000 " src="https://www.cssscript.com/demo/dummy/2.jpg">
           </div>
           <i data-action="right" class='btn-chevron right right-4 bx bx-chevron-right bg-bleu rounded-100% transition-all duration-0.5 top-1/2 cursor-pointer text-2xl p-2 absolute text-white  z-900'></i>
          </div>
         </div>
      <!-- end slider-->

		</div>
	</section>


</body>
</html>