<head>

  <html style="font-size: 62.5%;font-family: 'Nunito', sans-serif;">
<link rel='stylesheet prefetch' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Sora:wght@700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@700;800&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
<link href="./dist/output.css" rel="stylesheet">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://kit.fontawesome.com/1db09dea83.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="./js.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap" rel="stylesheet">
<meta charset="utf-8">
<title>webHeader</title>
<body class="bg-black">
</head>

  <!-- create and sell you nfts -->
    <section class="py-14 px-8 mob:px-2">
      <h1 class="text-white text-center text-4xl mob:text-6/3xl pb-4">Create and sell your<span class="text-bleu"> NFTs</span></h1>
      <div class="w-90% m-auto grid gap-8 grid-cols-0 mt-8">
        <!-- create your collection --> 
        <div class="py-6">
         <div class="text-center"><i class="fa-solid fa-paint-roller p-8 text-4xl rounded-50% text-white bg-bleu"></i></div>
         <h1 class="text-white text-4xl mob:text-3xl text-center mt-2 py-4 font-bold">Create your collection</h1>
         <p class="text-2.5xl text-blanc leading-loose text-center  ">Click <a href="#" class="text-bleu">My Collections</a> and set up your collection. Add social links, a description, profile & banner images, and set a secondary sales fee.</p>
        </div>
        <!-- add your NFT -->
        <div class="bg-lighten py-6">
         <div class="text-center"><i class="fa-solid fa-images p-8 text-4xl rounded-50% text-white bg-bleu"></i></div>
         <h1 class="text-white text-4xl mob:text-3xl text-center mt-2 py-4 font-bold ">Add your NFTs</h1>
         <p class="text-2.5xl text-blanc leading-loose text-center">Upload your work (image, video, audio, or 3D art), add a title and description, and customize your NFTs with properties, stats, and unlockable content</p>
        </div>
        <!-- List them for sale --> 
        <div class="py-6">
          <div class="text-center"><i class="fa-solid fa-clipboard-check p-8 text-4xl rounded-50% text-white bg-bleu "></i></div>
           <h1 class="text-white text-4xl mob:text-3xl text-center mt-2 py-4 font-bold">List them for sale</h1>
           <p class="text-2.5xl text-blanc leading-loose text-center">Choose between auctions, fixed-price listings, and declining-price listings. You choose how you want to sell your NFTs, and we help you sell them!</p>
      </div>
    </section>
  <!-- end -->




</body>
</html>