*,::after,::before{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}::after,::before{--tw-content:''}html{line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"}
body{margin:0;line-height:inherit}
hr{height:0;color:inherit;border-top-width:1px}
abbr:where([title]){-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a
{color:inherit;text-decoration:inherit}
b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit;border-collapse:collapse}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:inherit;color:inherit;margin:0;padding:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button;background-color:transparent;background-image:none}:-moz-focusring{outline:auto}:-moz-ui-invalid{box-shadow:none}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{margin:0}fieldset{margin:0;padding:0}legend{padding:0}menu,ol,ul{list-style:none;margin:0;padding:0}textarea{resize:vertical}input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}[role=button],button{cursor:pointer}:disabled{cursor:default}audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle}img,video{max-width:100%;height:auto}[hidden]{display:none}*, ::before, ::after{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }















body {
padding-left: 2rem;
padding-right: 2rem; 
padding-top: 3rem;
padding-bottom: 3rem; 
background-color: #1F2937; 
color: #F3F4F6; 

}


.contenu {
text-align: center; 
width: 100%; 


}


.sous{
display: grid; 
padding-left: 2rem;
padding-right: 2rem; 
padding-top: 4rem;
padding-bottom: 4rem; 
margin-top: 6rem; 
background-color: #F3F4F6; 
color: #111827; 
max-width: 1280px; 
border-radius: 0.5rem; 
grid-template-columns: repeat(1, minmax(0, 1fr)); 
gap: 2rem; 
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 

}




@media (min-width: 768px) { .sous
.sous {
padding-left: 3rem;
padding-right: 3rem; 
grid-template-columns: repeat(2, minmax(0, 1fr));
} 
 }
@media (min-width: 1024px) { 
.sous {  padding-left: 4rem;
padding-right: 4rem; 
 }
}
@media (min-width: 1280px) { 
.sous {   padding-left: 8rem;
padding-right: 8rem;  }

 }

.cont{
display: flex; 
display: flex; 
flex-direction: column; 
justify-content: space-between; 







}


.co {margin-top: 2rem; 
color: #374151; 
}

.c {
	margin-top: 2rem; 
text-align: center; 
}
.con {
	font-size: 2.25rem;
line-height: 2.5rem; 
font-weight: 700; 
line-height: 1.25; 


}



@media (min-width: 1024px) {
.con{
  font-size: 3rem;
line-height: 1; 
}
 }
.spa {
	color: #4B5563; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 700; 
text-transform: uppercase; 


}


.sp{
	padding: 0.75rem; 
margin-top: 0.5rem; 
background-color: #D1D5DB; 
color: #111827; 
width: 100%; 
border-radius: 0.5rem; 

}
.mt {
	margin-top: 2rem; 
}

.input {
	padding: 0.75rem; 
margin-top: 0.5rem; 
background-color: #D1D5DB; 
color: #111827; 
width: 100%; 
border-radius: 0.5rem; 







}
.texta {
padding: 0.75rem; 
margin-top: 0.5rem; 
background-color: #D1D5DB; 
color: #111827; 
width: 100%; 
height: 8rem; 
border-radius: 0.5rem; 







}
.btn {
	padding: 0.75rem; 
background-color: #6366F1; 
color: #F3F4F6; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 700; 
letter-spacing: 0.025em; 
text-transform: uppercase; 
width: 100%; 
border-radius: 0.5rem; 







}